
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow">
        <div class="card-header bg-primary text-white">
          <h3 class="mb-0">Add User</h3>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" [formGroup]="form">
            
            <div class="mb-3">
              <label for="name" class="form-label">First Name</label>
              <input 
                type="text" 
                class="form-control" 
                id="name" 
                formControlName="firstName"
                placeholder="Enter your first name">
            </div>

            <div class="mb-3">
              <label for="name" class="form-label">Last Name</label>
              <input 
                type="text" 
                class="form-control" 
                id="name" 
                formControlName="lastName"
                placeholder="Enter your last name">
            </div>
            
            <div class="mb-3">
              <label for="email" class="form-label">Email Address</label>
              <input 
                type="email" 
                class="form-control" 
                id="email" 
                formControlName="email"
                placeholder="Enter your email">
            </div>

            <div class="mb-3">
              <label for="country" class="form-label">Country</label>
              <select class="form-select" formControlName="country">
                <option disabled selected value="">Select Country</option>
                <option *ngFor="let c of countries" [value]="c">{{ c }}</option>
              </select>
            </div>

            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary btn-lg">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>